
@font-face { /* Police manuscrite titre */
    font-family: 'melody_southernscript';
    src: url('fonts/Melody_southern_script/melodysouthern-script-webfont.woff2') format('woff2'),
         url('fonts/Melody_southern_script/melodysouthern-script-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face { /*Police majuscule sous-titre */
    font-family: 'melody_southernregular';
    src: url('fonts/Melody_southern/melodysouthern-webfont.woff2') format('woff2'),
         url('fonts/Melody_southern/melodysouthern-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face { /*Police texte */
    font-family: 'ciclesemi';
    src: url('fonts/Cicle_Semi/cicle_semi-webfont.woff2') format('woff2'),
         url('fonts/Cicle_Semi/cicle_semi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face { /* Police texte fine */
    font-family: 'ciclefina';
    src: url('fonts/Cicle_Fina/cicle_fina-webfont.woff2') format('woff2'),
         url('fonts/Cicle_Fina/cicle_fina-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* En-tête - bannière */ 
#header_block
{
    width: 100%;
    height: 150px;
    background: url("images/background_image.jpg") fixed no-repeat;
    border: 1px #dda9a5 solid;
}
.logo
{
    width: 450px;
    height: 105 px;
    background: white;
    border: 1px #dda9a5 solid;
    display : flex;
    flex-direction :column;
    justify-content: center;
    position: absolute; 
    top : 93px;
    left : 125px;
}
.logo h1
{
    font-family: 'melody_southernscript';
    font-size: 3.5em;
    text-align: center;
    color: #11253a;
    margin: auto;
    

}
.logo h2
{
    font-family: 'melody_southernregular';
    font-size: 1.15em;
    color: #dda9a5;
    margin: auto;
}
/* Définition des styles de polices */ 
section, .cloud, .formation_aside
{
    width : 80%;
    margin-left: 15%;
    margin-right: 15%;
}

p, ul
{
    font-family: 'ciclefina';
    color: #11253a;
}
#subtitle
{
    font-size: 1.3em;
    padding-left: 20px;
    padding-top: 55px;
}
h1, h2
{
    font-family: 'melody_southernregular';
    font-size: 1.2em;
    color: #dda9a5;
}
#italic
{
    font-style: italic;
}
h3
{
    font-family: 'ciclesemi';
    font-size: 1.2em;
    color: #254155;
}
.subtitle_2
{
    font-family: 'ciclesemi';
    font-size: 1.1em;
    text-decoration: underline;
}

/* Bloc des compétences */ 
.block_1
{
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}
.skills
{
    width: 450px;
    list-style-image: url(images/Fichier\ 3-8.png);
    font-size: 1.3em;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.skills li
{
    padding: 0.25em;
}
/* Bloc des réalisations */ 
.block_2
{
    width: 225px;
    border-left: #11253a solid 1px;
    margin-left: auto;
    margin-right: auto;
}
.image
{
    width : 150px;
    border-radius: 5px;
    border: #bebcc0 solid;
    margin-left : 15px;
}
.project
{
    display: flex;
    align-items: center;
    
    width: 1020px;
    margin-left: 18px;
}
.project_text
{
    width: 350px;
    margin-left: 10px;
    margin-top: 0px;
    text-align: justify;
}
.block_2 h2
{
    margin-left: 20px;
}
#cloud /* A MODIFIER - ajouter des espaces au-dessus et en dessous */
{
    padding-top: 80px;
    padding-bottom: 80px;
    margin-left: 15%;
    margin-right: 15%;
}
ul.cloud
{
    width: 600px;
    margin: auto;
    text-align: center;
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 2.5rem;
}
ul.cloud li {
    color: #254155;
    display: block;
    font-size: 1.5rem;
    padding: 0.125rem 0.25rem;
    text-decoration: none;
    position: relative;
  }
ul.cloud li[data-weight="1"] { --size: 1; }
ul.cloud li[data-weight="2"] { --size: 2; }
ul.cloud li[data-weight="3"] { --size: 3; }
ul.cloud li[data-weight="4"] { --size: 4; }
ul.cloud li[data-weight="5"] { --size: 5; }
ul.cloud li[data-weight="6"] { --size: 6; }
ul.cloud li[data-weight="7"] { --size: 7; }
ul.cloud li[data-weight="8"] { --size: 8; }
ul.cloud li[data-weight="9"] { --size: 9; }

ul.cloud li 
{
  --size: 3;
  font-size: calc(var(--size) * 0.25rem + 0.4rem);
  /* Calcul de la taille selon le degré d'importance */
    opacity: calc((15 - (9 - var(--size))) / 15); 
    /* Opacité selon le degré d'importance */
 }
  ul.cloud li:hover 
{ /* Changement de couleur pendant survol */ 
    color: #dda9a5;
} 
/* Ajout d'un texte au survol */
.tooltip, .righttooltip, .bottomtooltip, .lefttooltip, .bottomtooltip2, .toptooltip
{
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext 
{
  visibility: hidden;
  width: 220px;
  background-color: #dda9a5;
  color: #fff;
  text-align: center;
  line-height: normal;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 105%;
  left: 50%;
  margin-left: -60px;  
  opacity: 0;/* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  transition: opacity 1s;
}
.tooltip:hover .tooltiptext 
{
  visibility: visible;
  opacity: 1;
}
.toptooltip .tooltiptext 
{
  visibility: hidden;
  width: 220px;
  background-color: #dda9a5;
  color: #fff;
  text-align: center;
  line-height: normal;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 200%;
  left: 50%;
  margin-left: -60px;  
  opacity: 0;/* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  transition: opacity 1s;
}
.toptooltip:hover .tooltiptext 
{
  visibility: visible;
  opacity: 1;
}
.righttooltip .tooltiptext 
{
    visibility: hidden;
    width: 220px;
    background-color:#dda9a5;
    color: #fff;
    text-align: center;
    line-height: normal;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
    opacity: 0;
    transition: opacity 1s;
}
.righttooltip:hover .tooltiptext 
{
    visibility: visible;
    opacity: 1;
}

.lefttooltip .tooltiptext 
{
    visibility: hidden;
    width: 220px;
    background-color: #dda9a5;
    color: #fff;
    text-align: center;
    line-height: normal;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
    opacity: 0;
    transition: opacity 1s;
}
  
.lefttooltip:hover .tooltiptext 
{
    visibility: visible;
    opacity: 1;
}
  .bottomtooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: #dda9a5;
    color: #fff;
    text-align: center;
    line-height: normal;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 105%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
  }
  .bottomtooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

.bottomtooltip2 .tooltiptext 
{
    visibility: hidden;
    width: 220px;
    background-color: #dda9a5;
    color: #fff;
    text-align: center;
    line-height: normal;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 200%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}
.bottomtooltip2:hover .tooltiptext 
{
    visibility: visible;
    opacity: 1;
}

/* Bloc Formation */ 
.formation_aside
{
    display: flex;
    justify-content: space-around;
    margin-left: 15%;
    margin-right: 15%;
}
.formation li
{
    list-style: none;
    font-size : 1.2em; 
    padding: 0.25em;
    width: 650px;
    line-height: 35px;
}
aside
{
    width: 450px;
    background-color: #f3efed;
    border: 1px #dda9a5 solid;
    text-align: justify;
    line-height: 18px; 
    font-size: 0.8em;
    z-index: 1;
    padding: 0.5em;
    padding-top: 1em;
}
aside h3
{
    background-color: #fff;
    border: 2.8px #dda9a5 solid;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.699);
    padding: 0.2em;
    text-align: center;
    width: 250px;
    position : relative;
    z-index: 2;
    margin-left: 95px;
    margin-top: -40px;
}
