
@font-face { /* Police manuscrite titre */
    font-family: 'melody_southernscript';
    src: url('fonts/Melody_southern_script/melodysouthern-script-webfont.woff2') format('woff2'),
         url('fonts/Melody_southern_script/melodysouthern-script-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face { /*Police majuscule sous-titre */
    font-family: 'melody_southernregular';
    src: url('fonts/Melody_southern/melodysouthern-webfont.woff2') format('woff2'),
         url('fonts/Melody_southern/melodysouthern-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face { /*Police texte */
    font-family: 'ciclesemi';
    src: url('fonts/Cicle_Semi/cicle_semi-webfont.woff2') format('woff2'),
         url('fonts/Cicle_Semi/cicle_semi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face { /* Police texte fine */
    font-family: 'ciclefina';
    src: url('fonts/Cicle_Fina/cicle_fina-webfont.woff2') format('woff2'),
         url('fonts/Cicle_Fina/cicle_fina-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* En-tête - bannière */ 
body
{
    width: 100%;
    margin: 0;
}
#global
{
    width :70% ;
    margin :auto ;
    padding :25px ;
}
#header_block
{
    width: 100%;
    height: 150px;
    background: url("images/background_image.jpg") fixed ;
    border-bottom: 1px #dda9a5 solid;
}
.logo
{
   /* width: 450px;*/
    height: 110px;
    background: white;
    border: 1px #dda9a5 solid;
    display : flex;
    flex-direction :column;
    justify-content: center;
    position: absolute; 
    top : 93px;
    left : 125px;
    z-index: 1;
}
.logo h1
{
    font-family: 'melody_southernscript';
    font-size: 4em;
    text-align: center;
    color: #11253a;
    margin: 0;
    padding: 0.2em;
    z-index: 2;
    position: relative;
    top: -15px;
}
a
{
    text-decoration: none;
}
.logo h2
{
    font-family: 'melody_southernregular';
    font-size: 1.15em;
    color: #dda9a5;
    text-align: center;
    margin: 0;
    z-index: 1;
    position : relative;
    top: -30px;
}
p, ul
{
    font-family: 'ciclefina';
    color: #11253a;
}
#subtitle
{
    font-family: 'ciclesemi';
    font-weight: bold;
    font-size: 1.3em;
    padding-top: 5%;
    padding-bottom: 3%;
    text-align: start ;
}
h1, h2
{
    font-family: 'melody_southernregular';
    font-size: 1.2em;
    color: #dda9a5;
}
#italic
{
    font-style: italic;
}
h3
{
    font-family: 'ciclesemi';
    font-size: 1.2em;
    color: #254155;
}
.subtitle_2
{
    font-family: 'ciclesemi';
    font-size: 1.1em;
    text-decoration: underline;
}

/* Bloc des compétences */ 
.block_1
{
    display: flex;
    justify-content: space-between;
}
.skills
{
    vertical-align: auto;
    list-style-image: url(images/Fichier\ 3-8.png);
    font-size: 1.3em;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.8em;
}
.skills li
{
    padding: 0.25em;
}
/* Bloc des réalisations */ 
.block_2
{
    width: 70%;
    border-left: #11253a solid 1px;
}
.image
{
    width : 150px;
    border-radius: 5px;
    border: #bebcc0 solid;
    margin-left : 15px;
}
.project
{
    display: flex;
    align-items: flex-end;
    margin-left: 18px;
}
.project_text
{
    margin-left: 20px;
    margin-top: 10px;
    text-align: justify;
    transform: translateY(10px);
}
.block_2 h2
{
    margin-left: 20px;
}

/*Nuage*/ 
#cloud
{
    padding-top: 100px;
    padding-bottom: 100px;
    vertical-align: auto;
}
ul.cloud
{
    width: 600px;
    margin: auto;
    text-align: center;
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 2.5rem;
}
ul.cloud li {
    color: #254155;
    display: block;
    font-size: 1.5rem;
    padding: 0.125rem 0.25rem;
    text-decoration: none;
    position: relative;
  }
ul.cloud li[data-weight="1"] { --size: 1; }
ul.cloud li[data-weight="2"] { --size: 2; }
ul.cloud li[data-weight="3"] { --size: 3; }
ul.cloud li[data-weight="4"] { --size: 4; }
ul.cloud li[data-weight="5"] { --size: 5; }
ul.cloud li[data-weight="6"] { --size: 6; }
ul.cloud li[data-weight="7"] { --size: 7; }
ul.cloud li[data-weight="8"] { --size: 8; }
ul.cloud li[data-weight="9"] { --size: 9; }

ul.cloud li 
{
  --size: 3;
  font-size: calc(var(--size) * 0.25rem + 0.4rem);
  /* Calcul de la taille selon le degré d'importance */
    opacity: calc((15 - (9 - var(--size))) / 15); 
    /* Opacité selon le degré d'importance */
}
  ul.cloud li:hover 
{
    color: #dda9a5;
} 
/* Ajout d'un texte au survol */
.tooltip, .righttooltip, .bottomtooltip, .lefttooltip, .bottomtooltip2, .toptooltip
{
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext 
{
  visibility: hidden;
  width: 220px;
  background-color: #dda9a5;
  color: #fff;
  text-align: center;
  line-height: normal;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 105%;
  left: 50%;
  margin-left: -60px;  
  opacity: 0;
  transition: opacity 1s;
}
.tooltip:hover .tooltiptext 
{
  visibility: visible;
  opacity: 1;
}
.toptooltip .tooltiptext 
{
  visibility: hidden;
  width: 220px;
  background-color: #dda9a5;
  color: #fff;
  text-align: center;
  line-height: normal;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 200%;
  left: 50%;
  margin-left: -60px;  
  opacity: 0;
  transition: opacity 1s;
}
.toptooltip:hover .tooltiptext 
{
  visibility: visible;
  opacity: 1;
}
.righttooltip .tooltiptext 
{
    visibility: hidden;
    width: 220px;
    background-color:#dda9a5;
    color: #fff;
    text-align: center;
    line-height: normal;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
    opacity: 0;
    transition: opacity 1s;
}
.righttooltip:hover .tooltiptext 
{
    visibility: visible;
    opacity: 1;
}

.lefttooltip .tooltiptext 
{
    visibility: hidden;
    width: 220px;
    background-color: #dda9a5;
    color: #fff;
    text-align: center;
    line-height: normal;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
    opacity: 0;
    transition: opacity 1s;
}
  
.lefttooltip:hover .tooltiptext 
{
    visibility: visible;
    opacity: 1;
}
  .bottomtooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: #dda9a5;
    color: #fff;
    text-align: center;
    line-height: normal;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 105%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
  }
  .bottomtooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    z-index: 3
  }

.bottomtooltip2 .tooltiptext 
{
    visibility: hidden;
    width: 220px;
    background-color: #dda9a5;
    color: #fff;
    text-align: center;
    line-height: normal;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 200%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}
.bottomtooltip2:hover .tooltiptext 
{
    visibility: visible;
    opacity: 1;
}

/* Bloc Formation */ 
.formation_aside
{
    display: flex;
    justify-content: space-around;
    padding-bottom: 7%;
}
.formation li
{
    list-style: none;
    font-size : 1.2em; 
    padding: 0.25em;
    width: 650px;
    line-height: 35px;
}
aside
{
    width: 30%;
    background-color: #f3efed;
    border: 1px #dda9a5 solid;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.363);
    text-align: justify;
    line-height: 18px; 
    font-size: 0.8em;
    z-index: 1;
    padding: 0.8em;
}
aside h3
{
    background-color: #fff;
    border: 2.8px #dda9a5 solid;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.699);
    padding: 0.2em;
    text-align: center;
    width: 250px;
    position : relative;
    z-index: 2;
    margin-left: 50px;
    margin-top: -40px;
}
#certification
{
    font-size: 1em;
    padding-left: 2em;
}
#certfication img
{
    margin-top: 15px;
}
#ancre
{
    position:relative;
    left: 49%;
}
footer
{
    background: url("images/background_image.jpg") repeat;
    border-top: 1px #dda9a5 solid;
    border-bottom: 1px #dda9a5 solid;
}
#footer_block
{
    width: 95%;
    height: 110px;
    background-color: #f3efed;
    margin: auto;
    margin-top: 20px;
    padding: 0;
    border: 0.2px #dda9a5 solid;
}
#footer_block h1
{
    font-family: 'melody_southernscript';
    color: #11253a;
    font-size: 2em;
    padding-left: 10px;
    width: 250px;
    z-index: 2;
    position: relative;
    margin-top: -10px;
}
.footer_disposition
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    z-index: 1;
    margin-top: -45px;
}
.contact_me
{
    margin: 0;
}
.contact_me h2
{
    font-size: 1em;
    padding-left: 1em;
    color: #dda9a5;
    text-decoration: none;
    margin: 0;
}
.contact_me :visited
{
    font-size: 1em;
    padding-left: 1em;
    color: #11253a;
    text-decoration: none;
}
.contact_me :hover 
{
    color: #254155
}
.social_media img
{
    margin: 0;
    padding: 0.2em;
    position: relative;
    left: -55%;
}
.info
{
    font-size: 1em;
    padding-right: 1em;
    text-align: right;
    margin: 0;
}

#mentions
{
    font-size: 0.5em ;
    text-align: center;
    padding-bottom: 5px;
}
